// base vars
$background: var(--plover-kit-dashboard-background-color, #ffffff);
$text: var(--plover-kit-dashboard-text-color, #27272a);
$heading: var(--plover-kit-dashboard-heading-color, #09090b);
$primary-gradient: var(--plover-kit-dashboard-primary-gradient, linear-gradient(135deg, #31a89f 0%, #7bc43b 100%));
$primary-gradient-invert: var(--plover-kit-dashboard-primary-gradient-invert, linear-gradient(135deg, #7bc43b 0%, #31a89f 100%));
$primary: var(--plover-kit-dashboard-primary, #169763);
$primary-active: var(--plover-kit-dashboard-primary-active, #0d9488);
//$primary: var(--plover-kit-dashboard-primary, #2c5942);
//$primary-active: var(--plover-kit-dashboard-primary-active, #115e59);
$primary-50: var(--plover-kit-dashboard-primary-50, #f0fdfa);
$border-color: var(--plover-kit-dashboard-border-color, #d4d4d8);
$neutral-400: var(--plover-kit-dashboard-neutral-400, #a1a1aa);
$neutral-300: var(--plover-kit-dashboard-neutral-300, #d4d4d8);
$neutral-200: var(--plover-kit-dashboard-neutral-200, #e4e4e7);
$neutral-100: var(--plover-kit-dashboard-neutral-100, #f4f4f5);
$neutral-50: var(--plover-kit-dashboard-neutral-50, #fafafa);
$neutral-0: var(--plover-kit-dashboard-neutral-0, #ffffff);
$spacing-sm: 12px;
$spacing: 24px;
$spacing-lg: 36px;
$spacing-x-lg: 48px;
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
$border-radius-sm: 4px;
$border-radius: 6px;
$border-radius-lg: 12px;
